@*
    form_controls.html
    Horizontal Form Height Sizing
*@

@model Category

@{
    ViewData["Title"] = "CategoryCreate";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}



<!-- BEGIN PAGE CONTENT-->
<div class="row">

    <div class="col-md-2"></div>

    <div class="col-md-8 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet box purple ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i> KATEGORİ GİRİŞ FORMU
                </div>
                <div class="tools">
                    <a href="" class="collapse">
                    </a>
                    <a href="#portlet-config" data-toggle="modal" class="config">
                    </a>
                    <a href="" class="reload">
                    </a>
                    <a href="" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal" role="form" action="/Admin/CategoryCreate" method="post">
                    <div class="form-body">

                        <div class="form-group">
                            <label class="col-md-3 control-label">Kategori Seçiniz</label>
                            <div class="col-md-9">

                                @Html.DropDownList("ParentID", (IEnumerable<SelectListItem>)ViewData["categoryList"], "Seçiniz", new { @class = "form-control input-lg" })
                                <span asp-validation-for="ParentID" class="text-danger"></span>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" asp-for="CategoryName"></label>
                            <div class="col-md-9">
                                <input type="text" class="form-control input-lg" placeholder="Kategori Adı Giriniz" asp-for="CategoryName">
                                <span asp-validation-for="CategoryName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" asp-for="Active"></label>
                            <div class="col-md-9">
                                <input class="form-control input-lg" asp-for="Active">
                                <span asp-validation-for="Active" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="form-actions right1">
                        <a asp-action="CategoryIndex" class="btn btn-primary">KATEGORİ LİSTESİ</a>
                        <input type="submit" name="name" value="KAYDET" class="btn btn-success" />
                    </div>
                </form>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->

    </div>
</div>
<!-- END PAGE CONTENT-->
