
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Site ile ilgili genel bilgiler PORTLET leri burada olacak</h2>
<h2>kac yeni ürün geldi  @ViewBag.count YENİ ÜRÜN EKLENDİ</h2>
<h2>kac tane yeni kullanıcı</h2>
<h2>ciro nekadar? kac nekadar?</h2>

