@*
    form_controls.html
    Horizontal Form Height Sizing
*@

@model Setting

@{
    ViewData["Title"] = "SettingEdit";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!-- BEGIN SAMPLE FORM PORTLET-->
<div class="portlet box purple ">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i> AYARLAR DÜZELTME FORMU
        </div>
        <div class="tools">
            <a href="" class="collapse">
            </a>
            <a href="#portlet-config" data-toggle="modal" class="config">
            </a>
            <a href="" class="reload">
            </a>
            <a href="" class="remove">
            </a>
        </div>
    </div>
    <div class="portlet-body form">
        <form class="form-horizontal" role="form" action="/Admin/SettingEdit" method="post">
            <div class="form-body">

                <div class="form-group">
                    <label class="col-md-3 control-label" asp-for="Telephone"></label>
                    <div class="col-md-9">
                        <input type="text" class="form-control input-lg" placeholder="telefon buraya" asp-for="Telephone">
                        <span asp-validation-for="Telephone" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label" asp-for="Email"></label>
                    <div class="col-md-9">
                        <input type="text" class="form-control input-lg" placeholder="Email buraya" asp-for="Email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label" asp-for="Address"></label>
                    <div class="col-md-9">
                        <textarea type="text" class="form-control input-lg" placeholder="Address buraya" asp-for="Address" rows="4" cols="80"></textarea>
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label" asp-for="MainpageCount"></label>
                    <div class="col-md-9">
                        <input type="text" class="form-control input-lg" placeholder="Ana Sayfa Numarası buraya" asp-for="MainpageCount" onkeypress="return numberonly(this, event);">
                        <span asp-validation-for="MainpageCount" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label" asp-for="SubpageCount"></label>
                    <div class="col-md-9">
                        <input type="text" class="form-control input-lg" placeholder="Alt Sayfa Numarası buraya" asp-for="SubpageCount" onkeypress="return numberonly(this, event);">
                        <span asp-validation-for="SubpageCount" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="form-actions right1">
                <input type="submit" name="name" value="GÜNCELLE" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<!-- END SAMPLE FORM PORTLET-->
