@model Setting

    <section id="sp-bottom-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 sp-bottomcontact">
                    <div class="sp-column ">
                        <div class="sp-module ">
                            <h3 class="sp-module-title"><span>SEDAT</span></h3>
                            <div class="sp-module-content">
                                <div class="custom">
                                    <div class="t-bottom-content">
                                        <p class="adress">
                                            <em class="fa fa-map-marker"></em>
                                            <span class="ft-content">@Model.Address</span>
                                        </p>
                                        <p class="phone">
                                            <em class="fa fa-phone"></em>
                                            <span class="ft-content">@Model.Telephone</span>
                                        </p>
                                        <p class="email">
                                            <em class="fa fa-envelope"></em>
                                            <span class="ft-content">@Model.Email</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 sp-bottomcontact">
                    <div class="sp-column ">
                        <div class="sp-module ">
                            <h3 class="sp-module-title"><span>Latest Blog Post</span></h3>
                            <div class="lattest-blog-bottom singal-p">
                                <div class="single-botoom-post">
                                    <div class="text-block">
                                        <div class="info">
                                            <div class="info-day">
                                                <span>02</span>
                                            </div>
                                            <div class="info-month">
                                                <span>Feb</span>
                                            </div>
                                        </div>
                                        <div class="info-text">
                                            <h4 class="title">
                                                <a title="" href="index.html#">5 Effective Email Unsubscribe Pages</a>
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="text-block">
                                        <div class="info">
                                            <div class="info-day">
                                                <span>03</span>
                                            </div>
                                            <div class="info-month">
                                                <span>Feb</span>
                                            </div>
                                        </div>
                                        <div class="info-text">
                                            <h4 class="title">
                                                <a title="" href="index.html#">Nirob is The lazi person </a>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-botoom-post">
                                    <div class="text-block">
                                        <div class="info">
                                            <div class="info-day">
                                                <span>02</span>
                                            </div>
                                            <div class="info-month">
                                                <span>Feb</span>
                                            </div>
                                        </div>
                                        <div class="info-text">
                                            <h4 class="title">
                                                <a title="" href="index.html#">Unsubscribe Effective Email  Pages</a>
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="text-block">
                                        <div class="info">
                                            <div class="info-day">
                                                <span>03</span>
                                            </div>
                                            <div class="info-month">
                                                <span>Feb</span>
                                            </div>
                                        </div>
                                        <div class="info-text">
                                            <h4 class="title">
                                                <a title="" href="index.html#">Nirob is The lazi person </a>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-botoom-post">
                                    <div class="text-block">
                                        <div class="info">
                                            <div class="info-day">
                                                <span>02</span>
                                            </div>
                                            <div class="info-month">
                                                <span>Feb</span>
                                            </div>
                                        </div>
                                        <div class="info-text">
                                            <h4 class="title">
                                                <a title="" href="index.html#">5 Effective Email Unsubscribe Pages</a>
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="text-block">
                                        <div class="info">
                                            <div class="info-day">
                                                <span>03</span>
                                            </div>
                                            <div class="info-month">
                                                <span>Feb</span>
                                            </div>
                                        </div>
                                        <div class="info-text">
                                            <h4 class="title">
                                                <a title="" href="index.html#">Nirob is The lazi person </a>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 sp-bottomcontact">
                    <div class="sp-column ">
                        <div class="sp-module Subscribe-area">
                            <h3 class="sp-module-title"><span>Newsletter</span></h3>
                            <div class="sp-module-content">
                                <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit </p>
                                <div class="newsletter-from">
                                    <form action="index.html#">
                                        <input type="text" placeholder="E-mail" />
                                        <input type="submit" value="Subscribe" />

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>